td #{id}
td #{name}
td #{level}
td #{status}
td
    a(href=Routes.project_path(id))
        i.icon.icon-info-circled
td
    a(href=Routes.edit_project_path(id))
        i.icon.icon-edit
td
    a.destroy(href='#')
        i.icon.icon-trash-empty